<!DOCTYPE html>
<html lang="en">
<head>
  <title>lashes-Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:900" rel="stylesheet"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    width: auto;
    min-width: 980px;
  }
  
 /*--- bg1 section ---*/

  .bg-1 {
  	text-align: center;
    background-image: url('/assets/lashes2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-color: 
    width: 100%;
    height: auto;

  }

  .text-box1 h1 {
   	font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 7em; 
    margin: 0;
    text-shadow: 0 6px 13px #555555;

  }

  .bg-1 h2 {
  	font-family: 'Source Sans Pro', sans-serif;
  	color: white;
  	text-shadow: 0 6px 13px #050505;
  	margin: 0;
  	margin-bottom: 1em;
  }

  .bg-1 h4 {
  	font-family: 'Source Sans Pro', sans-serif;
  	font-size: 2em;
  	text-shadow: 0 6px 13px #050505;

  }

  .text-box1 {
  	padding-top: 10em;
  	padding-bottom: 2em;
  	width: auto;
  	height: auto;
  }

  a.signupbtn {	
  	text-transform: uppercase;
  	padding: 12px;
  	font-size: 12px;
  	background-color: #ee7988;
  	color: white;
  	text-decoration: none;
  	box-shadow: 1px 2px 24px 1px #7c7c7c;
  	border-radius: .5em;
  }

  a.signupbtn:hover {
  	background-color: white;
  	color: black;
  	text-decoration: none;
  }


 /*--- bg2 section ---*/

.bg-2 { 
	padding-top: 3em;
	padding-bottom: 3em;
    background-color: white;
    color: black;
    text-align: center;
}

  .bg-2 h1 {
  	font-family: 'Source Sans Pro', sans-serif;
  	margin: 0;
  	margin-bottom: .2em;
  	color: black;
  }

  .bg-2 h3 {
  	margin-top: 0;
  }

/*--- bg3 section ---*/

  .bg-3 { 
      background-color: #ffffff; /* White */
  }


/*--- bg4 section ---*/

  	.bg-4 { 
  	  font-weight: light;
      font-size: 14px;
  	  letter-spacing: 2px;
  	  font-family: 'Montserrat', sans-serif;
      background-color: black;
      color: white;
	  padding-top: 30px;
	  padding-bottom: 30px;
	}

	.bg-4 li {
	  text-align: left;
	  list-style-type: none;
	}






/*--- other section ---*/

	.text-container {
	padding-bottom: 11em;
	padding-top: 15em;
	margin-left: 2em;
	max-width: 600px;
	height: auto;
	text-align: center;

	}

	.input-group {
	display: inline-block !important;
	margin-left: auto;
	margin-right: auto;
	border: solid;
	}

	.template-box {
		font-family: "times";
		text-align: center;
		background-color: white;
	}

	.template-box .second {
	  color: orange;
	  font-size: 1.6em !important;
	  margin-bottom: -.5em !important;
	}

	.template-box .third {
	  color: #505991;
	  letter-spacing: 5px;
	  font-size: .9em;
	}

	.powered-by-gridometry {
	  font-size: 12px;
	  background-color: black;
	  color: #ee7988;
	  margin: 0;
	  padding: 10px;
	  text-align: center;
	  text-decoration: none;
	}

	.powered-by-gridometry a {
		color: white;
	}



	.powered-by-gridometry a:hover {
		color: gray;
		text-decoration: none;
	}


 /*--- nav section ---*/

.navbar {
	background-color: transparent;
	border-radius: 0;
	text-align: center;
	margin: 0;
}

.navbar ul {
	margin-bottom: 0;
}

.navbar ul li {
	display: inline-block;
	padding: 8px;
}

.navbar ul li a {
	color: white;
	font-size: 17px;
	text-shadow: 0 6px 13px #555555;
	letter-spacing: 1px;
	font-family: 'Source Sans Pro', sans-serif;


}

.navbar ul li a:hover {
	color: pink;
	text-decoration: none;
}
	


</style>

</head>
<body>


 <style>
 	.text-box2 {
 		text-align: left;
 		width: 325px;
 		height: auto;
 		padding-bottom: 10em;
 	}

 	.text-box2 h3 {
 		text-align: center;
 		font-size: 18px;
 	}

 	.text-box2 ul li {
 		font-size: 16px;
 	}

 	header {
		width: auto;
		height: auto;
		background-color: black;
		font-size: 13px;
		text-align: right;
		padding-left: 5px;
	}

	header .svg-inline--fa {
		margin-left: 0;
	}

	header .box {
		margin-right: 9em;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	header h1 {
		margin: 0;
	}

	header b {
		padding-left: 5px;
		padding-right: 10px;
		font-weight: normal;
	}

	header #one {
		text-transform: uppercase;
		letter-spacing: 7px;
	}

	.home-button {
    position: fixed;
    right: 5em;
    z-index: 999;
    margin-top: 8em;
    margin-bottom: 2em;
    height: auto;
    padding: 0px 10px;

    background-color: red;
    font-size: .7em;
    text-decoration: none;
    color: white;
    transition: all .2s linear 0s;
  }


  .home-button:hover {
    text-decoration: none;
    background-color: gray;
    color: white;
    transition: all .2s linear 0s;

  }

 </style>

  <%= link_to 'x', root_path, :class => 'home-button' %> 


<!-- header section -->
<header>
	<div class="box" id="one">
		<b>Join today!</b>
	</div>
	<div class="box">
		<i class="fas fa-phone"></i><b>(555)555-5555</b>
		<i class="fas fa-envelope"></i><b>email@myemail.com</b>
 		<a href="javascript:void()"><i class="fab fa-facebook-f"></i></a>
    	<a href="javascript:void()"><i class="fab fa-twitter"></i></a>
    	<a href="javascript:void()"><i class="fab fa-instagram"></i></a>
	</div>
</header>
 
<div class="bg-1">

<!-- navbar section -->
<div class="navbar">
	<ul>
		<li><a href="javascript:void(0)">HOME</a></li>
		<li><a href="javascript:void(0)">SERVICES</a></li>
		<li><a href="javascript:void(0)">TRAINING</a></li>
		<li><a href="javascript:void(0)">PRICING</a></li>
		<li><a href="javascript:void(0)">CONTACT</a></li>
	</ul>
</div>


	<div class="text-box1">
		<h4>Next class date August 5th!</h4>
		<h1>Lash Dolls</h1>
		<h2>Learn it. Master it. Repeat it.</h2>
    	<a href="javascript:void(0)" class="signupbtn">Register Today!</a>
    </div>
    <div class="text-box2">
    </div>
</div>


<style>
	.box {
		display: inline-block;
		margin: 20px;
	}


	#box1 {
		background-image: url('/assets/lashes1.jpg');
		width: 350px;
		height: 325px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: .5em;
		box-shadow: 0 6px 13px #555555;



	}

	#box2 {
		background-image: url('/assets/lashes3.jpg');
		width: 350px;
		height: 325px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: .5em;
		box-shadow: 0 6px 13px #555555;


	}

	#box3 {
		background-image: url('/assets/lashes4.jpg');
		width: 350px;
		height: 325px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: .5em;
		box-shadow: 0 6px 13px #555555;


	}

	#box4 {
		background-image: url('/assets/lashes5.jpg');
		width: 350px;
		height: 325px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: .5em;
		box-shadow: 0 6px 13px #555555;


	}

	#box5 {
		background-image: url('/assets/lashes6.jpg');
		width: 350px;
		height: 325px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: .5em;
		box-shadow: 0 6px 13px #555555;


	}

	#box6 {
		background-image: url('/assets/lashes7.jpg');
		width: 350px;
		height: 325px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: .5em;
		box-shadow: 0 6px 13px #555555;


	}

	.image-overlay {
		background-color: rgba(191, 154, 154, 0.8);
	  	width: 350px;
		height: 325px;
		transition: all .4s linear 0s;
		border-radius: .5em;
	}

	.image-overlay:hover {
		background-color: transparent;
		color: transparent;
		transition: all .4s linear 0s;
	}

	.image-overlay h3 {
		visibility: visible;
		font-size: 2em;
		font-family: 'Source Sans Pro', sans-serif;
		color: #fb748b;
		text-shadow: 0 6px 13px #050505;
		position: relative;
		top: 3.5em;
		margin: 0;
		transition: all 0s linear 0s;

	}

	.image-overlay:hover h3 {
		visibility: hidden;
		transition: all 0s linear 0s;

	}

	.image-overlay .popup-box {
		font-family: 'Source Sans Pro', sans-serif;
		visibility: hidden;
		height: auto;
		background-color: transparent;
		font-size: 20px;
		text-decoration: none;
		color: black;
		padding: 5px;


	}

	.image-overlay:hover .popup-box {
		font-family: 'Source Sans Pro', sans-serif;
		visibility: visible;
		height: auto;
		background-color: transparent;
		text-decoration: none;
		padding: 5px;
	}

	.image-overlay:hover .view-button:hover {
		font-family: 'Source Sans Pro', sans-serif;
		background-color: white;
		border: solid 1px white;			
		color: #cbcbcb;
	}




</style>
</head>

<body>


<!-- test area -->

<style>

.overlay {
	color: purple;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay a {
	color: #ee7988;
}

.overlay a:hover, a:focus {
	color: gray;
	text-decoration: none;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay ul li {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: blue;
    display: block;
    transition: 0.3s;
}

.overlay li:hover, .overlay li:focus {
    color: green;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.image-overlay span {
	font-size: 30px;
	visibility: hidden;
	position: relative;
	top: 3.1em;
}

.image-overlay:hover span {
	font-size: 30px;
	color: white;
	visibility: visible;
	position: relative;
	top: 3.1em;
	background-color: #ee7988;
	padding: 5px;
	box-shadow: 0 6px 13px #555555;
	cursor: pointer;
	border-radius: .3em;

}

.image-overlay:hover span:hover {
	visibility: visible;
	position: relative;
	top: 3.1em;
	color: black;
	background-color: white;
	padding: 5px;
	box-shadow: 0 6px 13px #555555;
	border-radius: .3em;
}


</style>

<div id="lashbasics" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeLB()">&times;</a>
  <div class="overlay-content">
	<ul>
		<li>Complete lash kit</li>
		<li>Lash Manual</li>
		<li>Hands on practice with models</li>
	</ul>
  </div>
</div>

<div id="lashbootcamp" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeLBC()">&times;</a>
  <div class="overlay-content">
	<ul>
		<li>Makeup kit included</li>
		<li>Manequinn</li>
		<li>Hands on practice with models</li>
	</ul>
  </div>
</div>


<script>
function openLB() {
    document.getElementById("lashbasics").style.height = "100%";
}

function closeLB() {
    document.getElementById("lashbasics").style.height = "0%";
}

function openLBC() {
    document.getElementById("lashbootcamp").style.height = "100%";
}

function closeLBC() {
    document.getElementById("lashbootcamp").style.height = "0%";
}

</script>

<!-- test area -->



<!-- First Container -->
<div class="bg-2">
	<h1>Training</h1>
	<h3>Join one our classes today!</h3>
	<div class="training">
		<div class="box" id="box1">
			<div class="image-overlay">
				<h3>Lash Basics</h3>
				<span onclick="openLB()">Learn more?</span>
			</div>
		</div>
		<div class="box" id="box2">
			<div class="image-overlay">
				<h3>Lash Boot Camp</h3>
				<span onclick="openLBC()">Learn more?</span>
			</div>
		</div>
		<div class="box" id="box3">
			<div class="image-overlay">
				<h3>Lash Training</h3>
				<span onclick="openMenu()">Learn more?</span>
			</div>
		</div>
		<div class="box" id="box4">
			<div class="image-overlay">
				<h3>Lash Academy</h3>
				<span onclick="openMenu()">Learn more?</span>
			</div>
		</div>
		<div class="box" id="box5">
			<div class="image-overlay">
				<h3>Lash Tips & Tricks</h3>
				<span onclick="openMenu()">Learn more?</span>
			</div>
		</div>
		<div class="box" id="box6">
			<div class="image-overlay">
				<h3>Lash School</h3>
				<span onclick="openMenu()">Learn more?</span>
			</div>
		</div>
	</div>
</div>

<div class="page-bar">
	<h1>Learn all the tips & tricks the industry has kept a secret!</h1>
</div>

<style>

	.page-bar {
		background-image: url('/assets/gold-wallpaper.png');
		width: 100%;
		height: auto;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
	}

	.page-bar h1 {
		padding: 2.5em;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 2.5em;
		color: white;
		margin: 0;
	}

	.social_links {
  		text-align: center;
  		letter-spacing: 1em;
	}

.svg-inline--fa {
	color: white;
}

.svg-inline--fa:hover {
	color: gray;
}

#contact {
	text-align: center;
	width: 45%;
	padding-bottom: 2em;
}

#contact input {
  border-radius: 6px;
}

#contact textarea {
  border-radius: 6px;
}

#contact button {
  color: white;
  background-color: #ee7988;
  border-radius: .5em;
}

#contact button:hover {
	background-color: #eaeaea;
	color: black;
}

#contact h1 {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 1em;
  color: black;
  font-weight: bold;
}

#contact h3 {
  letter-spacing: 0px;
  font-size: 1em;
  margin: 0;
  margin-bottom: 1em;
  color: black;
}

#contact a {
  color: #53164f;
  font-size: 2em;
  padding-right: 10px;
}

#contact a:hover {
  color: white;
}

.contact-container {
  background-color: white;
}

</style>

<style>

	.pricing {
		background-color: white;
		padding: 4em;
	}

	.pricing .title {
		color: black;
	}

	.pricing h1 {
		font-family: 'Source Sans Pro', sans-serif;
		color: white;
	}

	.pricing h4 {
		color: black;
		margin-bottom: 2.5em;
	}

	.pricing .panel {
		background-color: white;
		color: black;
	}

	.panel-default {
		border-color: transparent;
	}

	.panel-body {
		background-color: white;
	}

	.pricing .panel h3 {
		color: white;
	}

	.pricing .panel-heading {
		background-color: #ee7988;
		box-shadow: 0 6px 13px #555555;

	}

	.pricing .panel-footer {
		background-color: #ee7988;
    	box-shadow: 0 6px 13px #555555;
	}

	.pricing button {
		background-color: white;

	}

</style>

<!-- Container (Pricing Section) -->
<div class="pricing">
  <div class="text-center">
    <h1 class="title">Pricing</h1>
    <h4>Choose a payment plan that works for you</h4>
  </div>
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>1 Class</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Lorem</p>
          <p><strong>15</strong> Ipsum</p>
          <p><strong>5</strong> Dolor</p>
          <p><strong>2</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$109</h3>
          <button class="btn btn-lg">Register now!</button>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>3 Classes</h1>
        </div>
        <div class="panel-body">
          <p><strong>50</strong> Lorem</p>
          <p><strong>25</strong> Ipsum</p>
          <p><strong>10</strong> Dolor</p>
          <p><strong>5</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$209</h3>
          <button class="btn btn-lg">Register now!</button>
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>5 Classes</h1>
        </div>
        <div class="panel-body">
          <p><strong>100</strong> Lorem</p>
          <p><strong>50</strong> Ipsum</p>
          <p><strong>25</strong> Dolor</p>
          <p><strong>10</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$349</h3>
          <button class="btn btn-lg">Register now!</button>
        </div>
      </div>      
    </div>    
  </div>
</div>

<div class="page-bar">
	<h1>Join Today and receive a 50% discount!</h1>
</div>


<style>

.reviews {
	text-align: center;
	color: black;
	padding: 4em;
	margin: 0;
}

.reviews h1 {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	margin-bottom: .2em;
}

.reviews h3 {
	margin: 0;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #ee7988;
}

.carousel-indicators li {
    border-color: #ee7988;
}

.carousel-indicators li.active {
    background-color: #ee7988;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}


	footer ul li {
		font-size: 12px;
		padding-left: 0;
	}

	footer b {
		padding-left: 10px;
	}


</style>

<!-- review section -->

<div class="reviews">
<h1>Reviews</h1>
 <h3>What our customers said</h3>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"I learned so much with these classes! Thanks Lash Dolls!"<span><br>-client</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span>-client</span></h4>
      </div>
      <div class="item">
        <h4>"Couldn't be any happier with this company!"<br><span>-Client</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="page-bar">
	<h1>It's Easy. Register Today!</h1>
</div>

<!-- Container (Contact Section) -->
<div class="contact-container">
  <div id="contact" class="container">
    <h1>Contact Us</h1>
    <h3>Please fill out completely</h3>
    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required><br>
    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required><br>
    <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
    <button class="btn" type="submit">Send</button>
  </div>
</div>


<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <div class="col-sm-4">
    <ul>
    	<li>Lash Dolls</li>
  		<li>Contact Us</li>
  		<li>Terms & Conditions</li>
    </ul>
  </div>
  <div class="col-sm-4">
    <a href="javascript:void()"><i class="fab fa-facebook-f"></i></a>
    <a href="javascript:void()"><i class="fab fa-twitter"></i></a>
    <a href="javascript:void()"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="col-sm-4">
  	<ul>
        <li>Charlotte, NC</li>
        <li><i class="fas fa-phone"></i><b>(555)555-5555</b></li>
		<li><i class="fas fa-envelope"></i><b>email@myemail.com</b></li>
    </ul>
  </div>
</footer>

<p class="powered-by-gridometry">Created with <i class="fa fa-heart"></i> by <%= link_to "Gridometry", root_path %>




</body>
</html>

