<!DOCTYPE html>
<html lang="en">
<head>
  <title>lashes-Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>


<style>
	body {
		background-position: cover;
		background-repeat: repeat;
		background-color: white;
		margin: 0;
	}


/*-- form section --- */
	
	.form-page {
		background-position: cover;
		background-repeat: repeat;
		background-color: white;
		width: auto;
		height: auto;
		text-align: center;
	}

	.form-page h1 {
		color: #0f2a51;
		padding-top: 1em;
		margin-top: 0;
	}


	.form-top h3 {
		font-size: 1.5em;
		padding-top: 2.5px;
		text-align: center;
		color: #0f2a51;
		margin-left: 2.5em;
		margin-right: 2.5em;
	}

	.form-container {
		background-color: transparent;
		width: 70%;
		height: auto;
		min-height: 750px;
		padding-bottom: 1em;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 4em;

	}

	.form-top {
		border-top-left-radius: .3em;
		border-top-right-radius: .3em;	
		background-color: transparent;
		height: 5em;
		width: auto;
		padding-top: .5em;
		padding-left: -4em;
		border-bottom: solid 1px white;
	}

	.form_label {
		color: #0f2a51;
	}

	.form_text_field {
		background-color: rgb(245, 245, 245);
		border: solid 1px #4e5785;
		width: 70%;
		height: 5.5em;
		margin-bottom: 1em;
	}

	.form_text_area {
		background-color: rgb(245, 245, 245);
		border: solid 1px #4e5785;
		width: 70%;
		max-width: 90%;
		min-width: 70%;
		max-height: 17em;
		min-height: 17em;

	}

	.form_send {
		color: white;
		font-size: 12px;
		background-color: #0f2a51;
		width: 10em;
		height: 4em;
		border: solid 1px transparent;
		transition: all .1s linear 0s;

	}

	.form_send:hover {
		background-color: transparent;
		border: solid 1px #0f2a51;
		transition: all .1s linear 0s;
		color: #0f2a51;

	}

	#error_explanation {
		border-bottom: 1px solid red;
		color: red;
	}

	.field_with_errors {
		display:inline;
    	margin:0px;
    	padding:0px;
	}

@media screen and (max-width: 545px){

	.form-top {
		border-top-left-radius: 0;
		border-top-right-radius: 0;	
		width: auto;
	}

	.form-container {
		border-radius: 0;
		width: auto;
	}

	.form-top h3 {
		font-size: 1.3em;
	}
}




	/*---- sitemap section ----*/

	.sitemap {
		background-color: gray;
		width: auto;
		height: auto;
		text-align: center;
		color: rgb(181, 181, 181);
	}


	.sitemap h3 {
		padding-top: 20px;
		padding-bottom: 20px;
		color: white;
		display: inline-block;
		font-size: 10px;
	}

	.sitemap a {
		text-decoration: none;
		color: white;
	}

	.contact-bar {
		background-color: #0f2a51;
		width: auto;
		height: auto;
		text-align: center;
		color: rgb(181, 181, 181);
	}


	.contact-bar a {
		text-decoration: none;
		color: white;
	}


	.contact-bar .svg-inline--fa {
		color: white;
		font-size: 1em;
		padding-left: .5em;
	}

	.contact-bar .box {
		display: inline-block;
		vertical-align: middle;
		padding-left: .3em;
	}
	
	.contact-bar h2 {
		color: white;
		font-size: 12px;
	}

	.gridometry-logo3 {
    	width: 250px;
		height: auto;
		position: relative;
		top: .3em;
    }


</style>
</head>

<body>

<div class="form-page">
	<h1>Contact Us</h1>
	<div class="form-container">
		<div class="form-top">
			<h3>Please complete form:</h3>
		</div>
		<%= render 'form' %>
	</div>
</div>

	

	


</body>
</html>


