
<!DOCTYPE html>
<html lang="en">
  <head>
    
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pies Unlimited</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">


<style>

/*-- body section --*/

body {
margin: 0 !important;
padding: 0px;

}

hr {
border: solid 1px rgb(5, 5, 76);
width: 70px;
border-width: 1px 0 0;
margin-left: auto;
margin-right: auto;
margin-bottom: 3em;
}


.featured_text {
text-align: center;
}


.container {
width: 100% !important;
}



.container p {
font-size: 18px;
padding-left: 1em;
padding-right: 1em;
max-width: 600px;
width: 75%;
margin-right: auto;
margin-left: auto;
color: rgb(10, 103, 155);
}

h2.title {
color: rgb(191, 21, 51);
margin-bottom: 1em;
margin-left: 3em;
margin-right: 3em;
font-size: 2.5em;
}

h2.title {
color: rgb(10, 103, 155);
margin-top: 0 !important;
}



/*--- end ---*/





/*--- footer sections ---*/

.football {
  background-color: #bf1533;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3em;
}

.footsie {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-top: 1.5em;
  padding-bottom: 0em;
  padding-right: 1.5em;
  color: white;
}

.footsie ul li {
  list-style-type: none;
  color: white;

}

.footsie ul li a {
  color: #fff;
  text-decoration: none;

}

.footsie ul li a:hover {
  color: rgb(10, 103, 155);
}

.footsie h6 {
  color: #fff;
}

.footsie p {
  width: 350px;
  height: auto;
  padding: 10px;
}

#bottom-footer h5 {
text-align: left;
font-size: 14px;
color: white;
width: 435px;
border: solid red;
}

div.footer {
background-color: #bf1533;
}  

div#footer {
background-color: #bf1533;
}


#bottom-footer {
text-align: center;
background-color: #bf1533;
}

#bottom-footer h6 {
color: white;
font-size: 15px;
}


div.footer {
background-color: #bf1533;
}  

div#footer {
background-color: #bf1533;
}


#bottom-footer {
text-align: center;
background-color: #bf1533;
}

#bottom-footer h6 {
color: white;
font-size: 15px;
margin-bottom: 0;
}

.top-footer {
text-align: center;
}

.top-footer .pie-icon {
text-align: center;
}

.top-footer p {
width: 50%;
margin: 0 auto;
}

#footer-facebook:hover {
background-color: white;
}

#footer-facebook.svg-inline--fa.fa-w-9:hover {
  color: red;
}

#footer-instagram:hover {
background-color: white;
}

#footer-instagram.svg-inline--fa.fa-w-14:hover {
  color: red;
}




/*--- end ---*/


/*--- gift section ---*/
#gift-box {
  border: 3px solid rgb(85, 46, 31);
  background-color: rgb(255, 238, 214);
  width: auto;
  height: auto;
}

h6.gift-header {
  color: rgb(191, 21, 51);
}

#hours {
padding-left: 3em;
}

.sister-site {
width: 210px;
padding-left: 0;
}

ul.sister-site li a {
color: white;
transition: all .2s linear 0s;     
}

ul.sister-site li a:hover {
color: rgb(10, 103, 155);
transition: all .2s linear 0s;     

}


/*--- end ---*/




/*--- nav section ---*/

.top-facebook {
position: absolute;
top: 3px;
right: 168px;
}

.top-instagram {
position: absolute;
top: 3px;
right: 210px;
}

ul {
  margin: 0;
  height: auto;
}

nav {
text-align: center;
z-index: 999;
position: sticky;
top: 0;

background-color: white;
width: 100%;
height: auto;  
}

ul.main-nav {
  text-align: left;
}

ul.main-nav ul li a {
  padding-top: 20px;
}

nav a {
color: rgb(10, 103, 155);
text-decoration: none;
font-size: 23px;

padding: 0 12px;
}

nav a:hover {
  color: rgb(191, 21, 51);
}



.pu-nav-bar ul li  {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

.call-box {
  text-align: center;
}


.call-box a {
color: rgb(191, 21, 51);
font-size: 16px;
position: absolute;
top: 0;
right: 45px;
}

.call-box a:hover {
  color: rgb(10, 103, 155);
}

.svg-inline--fa.fa-w-9 {
width: 1em;
}

.svg-inline--fa.fa-w-14 {
position: initial;
visibility: visible;
width: 1em;
}



#nav-facebook.svg-inline--fa.fa-w-9 {
  font-size: 17px;
}

#nav-instagram.svg-inline--fa.fa-w-14 {
  font-size: 17px;
}





.svg-inline--fa {
color: white;
background-color: rgb(10, 103, 155);
border-radius: 22px;
padding: 7px;
}

.svg-inline--fa:hover {
background-color: rgb(191, 21, 51); 
border-radius: 22px;
padding: 7px;
}


/*--- end ---*/





/*----- Jumbotron/Slideshow Section --------*/

.jumbotron {
width: 100%;
height: 75vh;
overflow: hidden;
background-color: transparent;
}



.cc-slideshow, .cc-slideshow:after { 
list-style-type: none;
position: static;
width: 100%;
height: 100vh;
top: 0px;
left: 0px;
z-index: 0;
margin: 0;
}

.cc-slideshow li span { 
margin-top: 0;
width: 100%;
height: 100vh;
position: absolute;
top: 0px;
right: 0px;
background-size: cover;
background-position: 5% 5%;
background-repeat: no-repeat;
opacity: 0;
animation: imageAnimation 60s linear infinite 0s; 
}



@media screen and (max-width: 550px){
.cc-slideshow li span {
width: 150%;
}
}



.cc-slideshow li:nth-child(1) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 

}
.cc-slideshow li:nth-child(2) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 
animation-delay: 10s; 
}
.cc-slideshow li:nth-child(3) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 
animation-delay: 20s; 
}
.cc-slideshow li:nth-child(4) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 
animation-delay: 30s; 
}
.cc-slideshow li:nth-child(5) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 
animation-delay: 40s; 
}
.cc-slideshow li:nth-child(6) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 
animation-delay: 50s; 
}


 
.cc-slideshow li:nth-child(2) div { 
animation-delay: 10s; 
}
.cc-slideshow li:nth-child(3) div { 
animation-delay: 20s; 
}
.cc-slideshow li:nth-child(4) div { 
animation-delay: 30s; 
}
.cc-slideshow li:nth-child(5) div { 
animation-delay: 40s; 
}
.cc-slideshow li:nth-child(6) div { 
animation-delay: 50s; 
}

@keyframes imageAnimation { 
0% { opacity: 0; animation-timing-function: ease-in; }
8% { opacity: .70; animation-timing-function: ease-out; }
17% { opacity: .90 }
25% { opacity: 0 }
100% { opacity: 0 }
}

/*-- end --*/






/*-- history section --*/

#history {
text-align: center;
padding-top: 8em;
padding-bottom: 4em;

}

#history p {
font-size: 30px;
}


/*-- end --*/




/*--- bar1 section ---*/

.bar1 {
background-image: url("/assets/rasp-cheesecake.jpeg");
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
text-align: center;
}



.bar1 h2 {
padding-top: 2em;
padding-bottom: 2em;
margin-bottom: 0;
font-size: 4.5em;
color: white;
width: auto;
text-shadow: 3px 0 13px #000000ad;  
}


/*--- end ---*/



/*--- bar2 section---*/

.img-bar2 {
background-image: url("/assets/rasp-cheesecake.jpeg");
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
text-align: center;


}


/*--- end ---*/








/*--- pie/main-boxi section ---*/

.main-boxi {
text-align: center;
width: 100%;
height: auto;
padding: 8em 0;
background-image: url("/assets/pie-background2.png");
background-position: center;
background-attachment: scroll;
background-repeat: repeat;
background-size: cover;
background-color: white;

}

.main-boxi p {
width: auto;
height: auto;
font-size: 24px;
color: rgb(10, 103, 155);
}

.boxi {
display: inline-block;
margin: 0 0;
vertical-align: top;
width: 40%;
height: auto;
max-width: 300px;
min-width: 250px;
}

.all-text-boxi {
width: auto;
height: auto;
}



.main-boxi h2 {
font-size: 34px;
}

#pie-container {
margin: 3em 0;
text-align: center;
}

.pie-boxes {
text-align: center;
}

.pie-box {
display: inline-block;
}



/*--- end ---*/


/*--- bar3 section ---*/

.img-bar2 h2 {
padding-top: 2em;
padding-bottom: 2em;
margin-top: 0;
margin-bottom: 0;
font-size: 4.5em;
color: white;
width: auto;
text-shadow: 3px 0 13px #000000ad;
}





/*--- end ---*/



/*--- bar4 section ---*/


#bar4-pu {
  padding: 4em 0;
  background-color: #fff;
  margin: 0 0;
  text-align: center;
}

#bar4-pu h2 {
  color: rgb(191, 21, 51);
}

.mail-box {
  display: inline-block;
  margin: 0 auto;
  vertical-align: top;
  width: 40%;
  height: auto;
}


/*--- end ---*/





/*--- fundraiser section ---*/

.fundraiser {
  text-align: center;
  padding: 0 2em;
  margin-bottom: 8em;
}


.fundraiser .title {
  text-align: center;
}

.fundraiser ol li {
  text-align: left;
  color: rgb(10, 103, 155);
}

.fundraiser h2 {
  padding: 0 5em;
  color: rgb(10, 103, 155);
}

.fundraiser p {
  padding: 0 6em;
  color: rgb(10, 103, 155);
}

.fundraiser i {
  color: rgb(10, 103, 155);
}

/*--- end ---*/



/*--- gift packaging ---*/

.gift-packages {
  
}

.gift-packages h2 {
  margin-bottom: 0;
}

.gift-packages h2 {
  color: white;
}


.package-box {
  color: white;
  overflow: hidden;
}

.package-box h5 {
  font-size: 1.2em;
}

.chalk-board {
  width: 100%;
  max-width: 800px;
  height: auto;
  overflow: hidden;
}



.featured_text i {
font-size: 12px;
padding-top: 0;
}



.image-container {
text-align: center;
}



/*--- map section ---*/

#map {
height: 300px;  /* The height is 400 pixels */
width: 100%;  /* The width is the width of the web page */
}


/*--- end ---*/






/*---- contact section ----*/

.contact-form {
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding-bottom: 9em;
  padding-top: 3em;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;

}

.contact-form h2 {
  font-size: 34px;
  color: #05054c;  
  padding-right: 5px;
}

.contact-form h4 {
  color: white;
  margin-top: .5em;
  margin-bottom: 2em;
}
  
form {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 55%;
}

@media screen and (max-width: 500px){
    form {
      width: 80%;
    }
  }

input[type="text"], input[type="email"], textarea {
  font-family: 'Times New Roman', sans-serif;
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: solid 1px rgb(10, 103, 155);
  padding: 10px 15px;
  background: #fff;
  font-size: 12pt;
  margin-bottom: 3px;
  color: black; 
}

  
textarea {
  min-height: 150px;
  margin-bottom: 5px; 
  border-radius: 0;
}

.pu-button {
  background-color: rgb(10, 103, 155);
  font-family: 'Times New Roman', sans-serif;
  margin: 5px 0 0 0;
  font-size: 12pt;
  padding: 10px 30px;
  color: #fff;
  outline: 0; 
  float: right;
  border: solid 1px transparent;
  transition: all .4s linear 0s;     


}


#contact-us {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 7em;
}

.pu-button:hover {
  color: white;
  background-color: rgb(191, 21, 51);
  transition: all .2s linear 0s;     

}


#map {
width: 450px;  /* The width is the width of the web page */
height: 300px;  /* The height is 400 pixels */
}

.map-container {
  text-align: center;
  margin-bottom: 3em;

}

.boxx {
  display: inline-block;
  vertical-align: top;
}

.boxx h2 {
  color: rgb(191, 21, 51);
}

.boxx li {
  color: rgb(10, 103, 155);
}

.map-container ul li {
  font-size: 20px;
  list-style-type: none;
}



/*-- end --*/












/*-- logo's/icons section --*/

.car {
width: 100px;
height: auto;
}

.truck {
width: 100px;
height: auto;
}

.pu-logo {
width: 125px;
height: auto;
float: left;
padding-right: 5em;
}

/*--- end ---*/



/*--- product list ---*/

.product-list {
text-align: center;
width: 100%;
height: auto;
/*background-image: url("/assets/pie-background3.png");*/
background-position: center;
background-attachment: scroll;
background-repeat: repeat;
background-size: contain;
background-color: white;
clear: right;
}

.product-list-container h2 {
  text-align: center;
  color: rgb(191, 21, 51);
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: auto;
  text-align: center;
  display: inline-block;
  background-color: white;
  vertical-align: top;
}

#customers td, #customers th {
  border: 1px solid rgb(10, 103, 155);
  padding: 5px;
}

#customers tr:nth-child(even){background-color: ;}

#customers tr:hover {background-color: ;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(10, 103, 155);
  color: white;
}

/*--- end --*/


</style>


</head>
<body>









          
       
<style>
.product-list {
  text-align: center;
}

.product-list h1 {
  color: rgb(191, 21, 51);
  font-size: 2.5em;
}

.product-list h2 {
  color: rgb(191, 21, 51);
  margin-bottom: 3px;
}

.product-container {
  width: 20%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 1em 2em;
}

.product-container i {
  font-size: 14px;
}

.product-container h2 {
  border-bottom: solid 4px rgb(10, 103, 155);
  color: rgb(191, 21, 51);
}

.product-container ul li {
  list-style-type: none;
  color: rgb(10, 103, 155);
}

.product-bottom {
  margin: 2.5em 0;
}

.product-box1 {
}

.product-box2 {
}

.product-box3 {
}


@media screen and (max-width: 700px){
  
  .product-container {
    width: 300px;
    padding: 0px;
  }
}


</style>




<div class="product-list">

  <div class="product-box1">
    <h1> Product List </h1>
    <div class="product-container">
      <h2>9" Fruit Pies</h2>
      <i>*Regular and No Sugar Added <br> Options Available*</i>
      <br>
      <i>*Available in Double Crust, Crumb Top or Cream*</i>
      <br>
      <br>
      <ul>
        <li>Apple</li>
        <li>Blueberry</li>
        <li>Blueberry Cream</li>
        <li>Boysenberry</li>
        <li>Cherry</li>
        <li>Peach</li>
        <li>Pineapple</li>
        <li>Rhubarb</li>
        <li>Raspberry</li>
        <li>Strawberry</li>
      </ul>
    </div>
    <div class="product-container">

      <h2>9" Cream Pies</h2>
      <i>*Regular and No Sugar Added <br> Options Available*</i>
      <br>
      <br>
      <ul>
        <li>Banana</li>
        <li>Banana Chocolate</li>
        <li>Strawberry Banana</li>
        <li>Mango </li>
        <li>Chocolate</li>
        <li>Coconut</li>
        <li>Lemon</li>
        <li>German Chocolate</li>
        <li>Peanut Butter</li>
        <li>Peanut Butter Chocolate</li>
      </ul>
    </div>


    <div class="product-container">

      <h2>9" Seasonal Pies</h2>
      <i>*Regular and No Sugar Added <br> Options Available*</i>
      <br>
      <br>
      <ul>
        <li>Cookies & Cream</li>
        <li>Grasshopper</li>
        <li>Fresh Strawberry</li>
        <li>Boston Creme w/ Strawberries</li>
        <li>Eggnog Cream</li>
        <li>Mince</li>
        <li>Sweet Potatoe</li>
        <li>Cranberry Apple</li>
      </ul>
    </div>
  </div>

  <div class="product-box2">
    <div class="product-container">
      <h2>9" Specialty Pies</h2>
      <i>*Regular and No Sugar Added <br> Options Available*</i>
      <br>
      <br>
      <ul>
        <li>Boston Cream</li>
        <li>Coconut Custard</li>
        <li>Custard</li>
        <li>Keylime</li>
        <li>Pecan</li>
        <li>Pumpkin</li>
      </ul>
    </div>

    <div class="product-container">

        <h2>9" Meringue Pies</h2>
        <i>*Regular and No Sugar Added <br> Options Available*</i>
        <br>
        <br>
        <ul>
          <li>Lemon</li>
          <li>Banana</li>
          <li>Banana Chocolate</li>
          <li>Chocolate</li>
          <li>Coconut</li>
          <li>German Chocolate</li>
          <li>Peanut Butter</li>
          <li>Peanut Butter Chocolate</li>
        </ul>
      </div>
  </div>
  

<div class="product-box3">

  <div class="product-container">
    <h2>4" Mini Pies </h2>
    <i>*Regular and No Sugar Added <br> Options Available*</i>
    <br>
    <br>
    <ul>
      <li>Apple</li>
      <li>Blueberry</li>
      <li>Boysenberry</li>
      <li>Cherry</li>
      <li>Peach</li>
      <li>Pineapple</li>
      <li>Rhubarb</li>
      <li>Raspberry</li>
      <li>Strawberry</li>
      <li>Strawberry Rhubarb</li>
      <li>Banana Cream</li>
      <li>Chocolate Cream</li>
      <li>Coconut Cream</li>
      <li>German Chocolate Cream</li>
      <li>Lemon Cream</li>
      <li>Lemon Meringue</li>
      <li>Peanut Butter Cream</li>
      <li>Peanut Butter Chocolate Cream</li>
      <li>Custard</li>
      <li>Coconut Custard</li>
      <li>Pumpkin</li>
      <li>Pecan</li>
      <li>Fresh Strawberry (seasonal) </li>
      <li>Strawberry Banana Cream</li>
      <li>Mango Cream</li>
      <li>Salted Peanut butter Chocolate Cream</li>
    </ul>
  </div>


  <div class="product-container">
    <h2>Cakes</h2>
    <i>*Regular and No Sugar Added <br> Options Available*</i>
    <br>
    <br>
    <ul>
      <li>Black Forest</li>
      <li>Boston Creme Pie</li>
      <li>Carrot</li>
      <li>Chocolate</li>
      <li>German Chocolate</li>
      <li>Lemon</li>
      <li>Strawberry</li>
      <li>Pineapple</li>
      <li>Pineapple Upside Down </li>
      <li>Raspberry</li>
      <li>Red Velvet</li>
      <li>Pumpkin Spice</li>
      <li>Spice</li>
      <li>Vanilla</li>
      <li>Strawberry Short Cake</li>
    </ul>
  </div>




  <div class="product-container">
    <h2>9" Cheesecakes</h2>
    <i>*Regular and No Sugar Added <br> Options Available*</i>
    <br>
    <br>
    <ul>
      <li>New York Style </li>
      <li>Key Lime</li>
      <li>Chocolate Swirl </li>
      <li>Chocolate </li>
      <li>Blueberry </li>
      <li>Cherry</li>
      <li>Strawberry</li>
      <li>Pineapple</li>
      <li>Raspberry</li>
      <li>Amaretto</li>
      <li>Cappuccino</li>
      <li>Carmel Apple</li>
      <li>Dulce de Leche</li>
      <li>Salted Caramel</li>
      <li>German Chocolate</li>
      <li>Irish Cream</li>
      <li>Kahlua Almond Fudge</li>
      <li>Southern Pecan</li>
      <li>Fresh Strawberry</li>
      <li>Cranberry </li>
      <li>Eggnog</li>
      <li>Pumpkin</li>
    </ul>
  </div>
</div>
  
  <div class="product-bottom">
    <i>*Cakes Available in various sizes and layers*</i>
  </div>

</div>




<!-- end -->



 </body>
</html>













<!-- end -->