
<!DOCTYPE html>

<html lang="en-US" prefix="og: http://ogp.me/ns#"><head><meta charset="utf-8"> <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]--><meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">



<link type="text/css" media="all" href="https://meetyouatarnis.com/wp-content/cache/autoptimize/css/autoptimize_d607ec0ac4b08acb209b4251dfed001a.css" rel="stylesheet" /><title>Meet You at Arni&#039;s - Arni&#039;s Restaurant</title><meta name="description" content="Arni’s is well known throughout Indiana and has been acclaimed by food critics in newspapers and readers’ polls for “favorite pizza” in Lafayette, Indianapolis, and other Hoosier cities."/>

<link rel="canonical" href="https://meetyouatarnis.com/" /><meta property="og:locale" content="en_US" /><meta property="og:type" content="website" /><meta property="og:title" content="Meet You at Arni&#039;s - Arni&#039;s Restaurant" /><meta property="og:description" content="Arni’s is well known throughout Indiana and has been acclaimed by food critics in newspapers and readers’ polls for “favorite pizza” in Lafayette, Indianapolis, and other Hoosier cities." /><meta property="og:url" content="https://meetyouatarnis.com/" /><meta property="og:site_name" content="Arni&#039;s Restaurant" /><meta name="twitter:card" content="summary_large_image" /><meta name="twitter:description" content="Arni’s is well known throughout Indiana and has been acclaimed by food critics in newspapers and readers’ polls for “favorite pizza” in Lafayette, Indianapolis, and other Hoosier cities." /><meta name="twitter:title" content="Meet You at Arni&#039;s - Arni&#039;s Restaurant" /><meta name="twitter:image" content="https://meetyouatarnis.com/wp-content/uploads/2017/12/open.png" /> <script type='application/ld+json'>{"@context":"https://schema.org","@type":"WebSite","@id":"https://meetyouatarnis.com/#website","url":"https://meetyouatarnis.com/","name":"Arni&#039;s Restaurant","potentialAction":{"@type":"SearchAction","target":"https://meetyouatarnis.com/?s={search_term_string}","query-input":"required name=search_term_string"}}
</script> 

<link rel='dns-prefetch' href='//ajax.googleapis.com' />

<link rel='dns-prefetch' href='//maps.googleapis.com' />

<link rel='dns-prefetch' href='//fonts.googleapis.com' />

<link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />

<link rel='dns-prefetch' href='//s.w.org' />

<link rel="alternate" type="application/rss+xml" title="Arni&#039;s Restaurant &raquo; Feed" href="https://meetyouatarnis.com/feed/" />

<link rel="alternate" type="application/rss+xml" title="Arni&#039;s Restaurant &raquo; Comments Feed" href="https://meetyouatarnis.com/comments/feed/" />  


<!--<script type="text/javascript" data-cfasync="false">var mi_version         = '7.4.1';
	var mi_track_user      = true;
	var mi_no_track_reason = '';
	
	var disableStr = 'ga-disable-UA-113913756-2';

	/* Function to detect opted out users */
	function __gaTrackerIsOptedOut() {
		return document.cookie.indexOf(disableStr + '=true') > -1;
	}

	/* Disable tracking if the opt-out cookie exists. */
	if ( __gaTrackerIsOptedOut() ) {
		window[disableStr] = true;
	}

	/* Opt-out function */
	function __gaTrackerOptout() {
	  document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
	  window[disableStr] = true;
	}
	
	if ( mi_track_user ) {
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');

		__gaTracker('create', 'UA-113913756-2', 'auto');
		__gaTracker('set', 'forceSSL', true);
		__gaTracker('require', 'displayfeatures');
		__gaTracker('require', 'linkid', 'linkid.js');
		__gaTracker('send','pageview');
	} else {
		console.log( "" );
		(function() {
			/* https://developers.google.com/analytics/devguides/collection/analyticsjs/ */
			var noopfn = function() {
				return null;
			};
			var noopnullfn = function() {
				return null;
			};
			var Tracker = function() {
				return null;
			};
			var p = Tracker.prototype;
			p.get = noopfn;
			p.set = noopfn;
			p.send = noopfn;
			var __gaTracker = function() {
				var len = arguments.length;
				if ( len === 0 ) {
					return;
				}
				var f = arguments[len-1];
				if ( typeof f !== 'object' || f === null || typeof f.hitCallback !== 'function' ) {
					console.log( 'Not running function __gaTracker(' + arguments[0] + " ....) because you are not being tracked. " + mi_no_track_reason );
					return;
				}
				try {
					f.hitCallback();
				} catch (ex) {

				}
			};
			__gaTracker.create = function() {
				return new Tracker();
			};
			__gaTracker.getByName = noopnullfn;
			__gaTracker.getAll = function() {
				return [];
			};
			__gaTracker.remove = noopfn;
			window['__gaTracker'] = __gaTracker;
					})();
		}

		</script>-->  


		<script type="text/javascript">window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/meetyouatarnis.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.0.3"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);</script> 

			<link rel='stylesheet' id='porto-google-fonts-css'  href='//fonts.googleapis.com/css?family=Noto+Sans%3A200%2C300%2C400%2C700%2C800%2C600%2C%7CShadows+Into+Light%3A200%2C300%2C400%2C700%2C800%2C600%2C%7COpen+Sans%3A200%2C300%2C400%2C700%2C800%2C600%2C%7C&#038;subset=cyrillic%2Ccyrillic-ext%2Cgreek%2Cgreek-ext%2Ckhmer%2Clatin%2Clatin-ext%2Cvietnamese&#038;ver=5.0.3' type='text/css' media='all' /> <!--[if lt IE 10]>

			<link rel='stylesheet' id='porto-ie-css'  href='https://meetyouatarnis.com/wp-content/themes/porto/css/ie.css?ver=5.0.3' type='text/css' media='all' /> <![endif]-->

			<link rel='stylesheet' id='fancybox-css'  href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.2/jquery.fancybox.min.css?ver=3.4.2' type='text/css' media='all' /> <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js?ver=2.2.4'></script> <script type='text/javascript'>var monsterinsights_frontend = {"js_events_tracking":"true","download_extensions":"doc,exe,js,pdf,ppt,tgz,zip,xls","inbound_paths":"[]","home_url":"https:\/\/meetyouatarnis.com","hash_tracking":"false"};</script> <script type='text/javascript'>var wprmenu = {"zooming":"no","from_width":"767","push_width":"400","menu_width":"80","parent_click":"yes","swipe":"yes","enable_overlay":"1"};</script> 

			<link rel='https://api.w.org/' href='https://meetyouatarnis.com/wp-json/' />

			<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://meetyouatarnis.com/xmlrpc.php?rsd" />

			<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://meetyouatarnis.com/wp-includes/wlwmanifest.xml" />

			<link rel='shortlink' href='https://meetyouatarnis.com/' />

			<link rel="alternate" type="application/json+oembed" href="https://meetyouatarnis.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmeetyouatarnis.com%2F" />

			<link rel="alternate" type="text/xml+oembed" href="https://meetyouatarnis.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmeetyouatarnis.com%2F&#038;format=xml" /><meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/> <!--[if lte IE 9]>

			<link rel="stylesheet" type="text/css" href="https://meetyouatarnis.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->

			<link rel="icon" href="https://meetyouatarnis.com/wp-content/uploads/2018/05/cropped-faviconcanvas-32x32.png" sizes="32x32" />

			<link rel="icon" href="https://meetyouatarnis.com/wp-content/uploads/2018/05/cropped-faviconcanvas-192x192.png" sizes="192x192" />

			<link rel="apple-touch-icon-precomposed" href="https://meetyouatarnis.com/wp-content/uploads/2018/05/cropped-faviconcanvas-180x180.png" /><meta name="msapplication-TileImage" content="https://meetyouatarnis.com/wp-content/uploads/2018/05/cropped-faviconcanvas-270x270.png" />


			<style type="text/css" data-type="vc_shortcodes-custom-css">
			.vc_custom_1512742236513{

					background-image: url("") !important;
					background-position: center !important;
					background-repeat: no-repeat !important;
					background-size: cover !important;
					}

					
					.vc_custom_1533816552416{padding-top: 100px !important;padding-bottom: 150px !important;
						background-image: url("https://images.pexels.com/photos/1537635/pexels-photo-1537635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") !important;
						background-position: center !important;
						background-repeat: no-repeat !important;
						background-size: cover !important;
						}
						
						.vc_custom_1533816876581{padding-top: 50px !important;
							padding-right: 50px !important;
							padding-bottom: 50px !important;
							padding-left: 50px !important;
							background-image: url("https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") !important;
							}
							
							.vc_custom_1520606728618{padding-top: 50px !important;
								padding-bottom: 50px !important;
								background-image: url("") !important;
								background-position: center !important;
								background-repeat: no-repeat !important;
								background-size: cover !important;}
								
								.vc_custom_1522251573696{margin-top: -180px !important;
									}
									
									.vc_custom_1532387448160{margin-left: 0px !important;padding-left: 0px !important;
										}

										.vc_custom_1512740291290{padding-top: 0px !important;}
										.vc_custom_1512740294622{padding-top: 0px !important;}
										.vc_custom_1512740297919{padding-top: 0px !important;}
										.vc_custom_1532022288956{margin-bottom: 0px !important;}
										.vc_custom_1523643691341{margin-bottom: 0px !important;}
										.vc_custom_1532022396683{margin-bottom: 0px !important;}
										.vc_custom_1523643640193{margin-bottom: 0px !important;}
										.vc_custom_1532022473723{margin-bottom: 0px !important;}
										.vc_custom_1527596381613{margin-bottom: 0px !important;}
										.vc_custom_1512740848194{padding-top: 0px !important;}
										.vc_custom_1512740852861{padding-top: 0px !important;}
										.vc_custom_1512740856860{padding-top: 0px !important;}
										.vc_custom_1512742704184{margin-bottom: 0px !important;}
										.vc_custom_1512742717487{margin-bottom: 0px !important;}
										.vc_custom_1512742723911{margin-bottom: 0px !important;}


				#footer .footer-main {
					background-color: black !important;
				}

				.wpb_single_image img {
					margin-top: 16em;
					padding: 10px;
				}

				.home-sec2-innercol2 .wpb_text_column h2 {
					color: black;
				}

				.home-sec2 .wpb_text_column p {
					color: black;
				}



			</style>




			<noscript><style type="text/css">.wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"> <script type="text/javascript"></script> <script type="text/javascript" src="https://meetyouatarnis.com/wp-content/cache/autoptimize/js/autoptimize_cf77e990aeded5ba89f9b37a60b442a0.js"></script></head><body class="home page-template-default page page-id-2177 full blog-1  wpb-js-composer js-comp-ver-5.4.7 vc_responsive"><div id="pageloader"> <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="processing..." /></div>



			<div class="page-wrapper">



			<div class="header-wrapper clearfix"><header id="header" class="header-7 logo-center search-sm">



			<div class="header-main">



			<div class="container">



		



			




			</ul></div></div></div></div></div></header></div><div id="main" class="column1 boxed no-breadcrumbs">



			<div class="container">



			<div class="row main-content-wrap">



			<div class="main-content col-md-12"><section id="section__hero"><figure id="hero__background" class=" full-height section__first--slide" style="background-size: cover; background-position: center; background-image: url('https://images.pexels.com/photos/724216/pexels-photo-724216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');"" data-stellar-background-ratio="0.75"/><figcaption class="hero__content"> <img class="alignnone size-medium wp-image-3080 aligncenter" src="" alt="" width="300" height="14" /><h1>Best Pizza In Town!</h1><p>We have the goods to prove it.</p> <a class="home-cta" href="javascript:void(0)">Order Now!</a></figcaption>



			<div class="hero__veil"></div></section><div id="content" role="main"><article class="post-2177 page type-page status-publish hentry"> <span class="entry-title" style="display: none;">Meet You at Arni&#8217;s</span><span class="vcard" style="display: none;"><span class="fn"><a href="https://meetyouatarnis.com/author/arnisadmin/" title="Posts by arnisadmin" rel="author">arnisadmin</a></span></span><span class="updated" style="display:none">2018-08-09T12:14:39+00:00</span>



			<div class="page-content"><div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid home-sec2 vc_custom_1512742236513 vc_row-has-fill vc_row-no-padding">



			<div class="vc_column_container vc_col-sm-12">



			<div class="wpb_wrapper vc_column-inner">



			<div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">



			<div class="home-sec2-innercol1 vc_column_container vc_col-sm-6">



			<div class="wpb_wrapper vc_column-inner">



			<div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1522251573696">



			<div class="wpb_wrapper">
				<img width="700" height="680" src="https://www.pizzamania.co.ke/wp-content/uploads/2018/08/Pizza_High_quality_wallpapers0.jpg" class="vc_single_image-img attachment-full" alt="" srcset="">


			
			</div>
			</div>
			</div>
			</div>



			<div class="home-sec2-innercol2 vc_column_container vc_col-sm-6">



			<div class="wpb_wrapper vc_column-inner">



			<div class="wpb_text_column wpb_content_element  vc_custom_1532387448160" >



			<div class="wpb_wrapper"><h2>Good Food.<br /> Great Service.<br /> Every time.</h2><p>We now offer online ordering for carryout and delivery for select locations. No matter how you choose to enjoy your Arni’s you can expect good food and great service every time.</p><p><a class="menu-link" href="#choose-your-location">Our Menu</a></p></div></div></div></div></div></div></div></div>



			<div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid home-sec3 vc_custom_1533816552416 vc_row-has-fill">



			<div class="vc_column_container vc_col-sm-12">



			<div class="wpb_wrapper vc_column-inner">



			<div class="vc_row wpb_row vc_inner vc_row-fluid homepage-testimonial vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">



			<div class="vc_column_container vc_col-sm-6">



			<div class="wpb_wrapper vc_column-inner">



			<div class="wpb_text_column wpb_content_element " >



			<div class="wpb_wrapper"><h2 style="text-align: center;">OUR CUSTOMERS<br /> ARE FAMILY.</h2><p>I&#8217;m nostalgic about this place because I&#8217;m from Lafayette, where Arni&#8217;s originated. I order the same thing everytime I go. A sausage, pepperoni, mushroom pizza and an Arni&#8217;s Junior salad. It keeps me coming back and driving out of my way to satisfy my cravings! Love. It.<br /> <em><strong>&#8211;  Tyler S. H. </strong></em></p><p><a style="text-align: center;" href="javascript:void(0)" target="_blank" rel="noopener">Yelp Reviews</a></p></div></div></div></div>



			<div class="vc_column_container vc_col-sm-6">



			<div class="wpb_wrapper vc_column-inner"></div></div></div></div></div></div>



			<div class="vc_row-full-width vc_clearfix"></div>



			



			<div class="vc_column_container vc_col-sm-4 vc_custom_1512740297919">



			<div class="wpb_wrapper vc_column-inner">






			<div class="wpb_text_column wpb_content_element  vc_custom_1527596381613" >



			</div></div></div></div></div></article>



			<div class=""></div></div></div></div></div></div>



			<div class="footer-wrapper "><div id="footer" class="footer-1">



			<div class="footer-main">



			<div class="container">



			<div class="row">



			<div class="col-md-8 col-lg-9"><aside id="text-4" class="widget widget_text"><h3 class="widget-title">LOCATIONS</h3>




			<div class="textwidget"><ul class="locations-list-widget"><li><a href="javascript:void(0)" data-location-id="1012">THE STRIP</a></li>

			<div class="textwidget"><ul class="locations-list-widget"><li><a href="javascript:void(0)" data-location-id="1012">DOWNTOWN</a></li>

			

			</ul></div></aside></div>



			<div class="col-md-4 col-lg-3"><aside id="cnss_widget-2" class="widget widget_cnss_widget"><h3 class="widget-title">FOLLOW US</h3><ul id="" class="cnss-social-icon " style="text-align:left;"><li class="cn-fa-facebook cn-fa-icon " style="display:inline-block;"><a class="cnss-facebook" target="_blank" href="javascript:void(0)" title="Facebook" style="width:37px;height:37px;padding:6px;margin:0px;color: #ffffff;border-radius: 0%;"><i title="Facebook" style="font-size:25px;" class="fa fa-facebook"></i></a></li>

			<li class="cn-fa-instagram cn-fa-icon " style="display:inline-block;"><a class="cnss-instagram" target="_blank" href="javascript:void" title="Instagram" style="width:37px;height:37px;padding:6px;margin:0px;color: #ffffff;border-radius: 0%;"><i title="Instagram" style="font-size:25px;" class="fa fa-instagram"></i></a></li>

			<li class="cn-fa-twitter cn-fa-icon " style="display:inline-block;"><a class="cnss-twitter" target="_blank" href="javascript:void(0)" title="Twitter" style="width:37px;height:37px;padding:6px;margin:0px;color: #ffffff;border-radius: 0%;"><i title="Twitter" style="font-size:25px;" class="fa fa-twitter"></i></a></li>

			</ul></aside><aside id="text-5" class="widget widget_text">



			<div class="textwidget"><p><a class="nutrition button" href="javascript:void(0)" target="_blank" rel="noopener">Become a partner.</a></p></div></aside></div></div>



			<div class="footer-left"> &copy; 2019. Those Guys Pies. All Rights Reserved. <a href="/terms-of-use/">Terms of Use</a>  |  <a href="/privacy-policy/">Privacy Policy</a>  |  </div></div></div></div></div></div>










			<div class="panel-overlay"></div><div id="side-nav-panel" class="panel-left"> <a href="#" class="side-nav-panel-close"><i class="fa fa-close"></i></a>



			<div class="menu-wrap"><ul id="menu-main-menu-1" class="mobile-menu accordion-menu"><li id="accordion-menu-item-2346" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="https://meetyouatarnis.com/our-story/" rel="nofollow" class="">Our Story</a></li>

			<li id="accordion-menu-item-3027" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="https://meetyouatarnis.com/locations/indianapolis-menu/" rel="nofollow" class="">Menu</a></li>

			<li id="accordion-menu-item-2905" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="https://meetyouatarnis.com/get-in-touch/" rel="nofollow" class="">Get In Touch</a></li>

			</ul></div></div> 



			


			<div class="wprm-wrapper">



			<div class="wprm-overlay"></div><div id="wprmenu_bar" class="wprmenu_bar bodyslide left">



			<div class="hamburger hamburger--slider"> <span class="hamburger-box"> <span class="hamburger-inner"></span> </span></div>



			<div class="menu_title"> <a href="https://meetyouatarnis.wpengine.com">MENU</a></div></div>



			<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left default " id="mg-wprm-wrap"><ul id="wprmenu_menu_ul"><li id="menu-item-2457" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2457"><a href="https://meetyouatarnis.com/our-story/">Our Story</a><ul class="sub-menu"><li id="menu-item-3259" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3259"><a href="https://meetyouatarnis.com/our-story/">Our Story</a></li>

			<li id="menu-item-3258" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3258"><a href="https://meetyouatarnis.com/dine-to-donate/">Dine to Donate</a></li>

			<li id="menu-item-3261" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3261"><a href="https://www.yelp.com/biz/arnis-indianapolis-2?osq=Arni%27s+Restaurant">Reviews</a></li>

			</ul></li>

			<li id="menu-item-2459" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2459"><a href="https://meetyouatarnis.com/get-in-touch/">Get In Touch</a></li>

			<li id="menu-item-2895" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2895"><a href="https://meetyouatarnis.com/get-in-touch/">Gift Cards</a></li>

			<li id="menu-item-2461" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2461"><a href="https://meetyouatarnis.com/locations/">Locations</a><ul class="sub-menu"><li id="menu-item-2470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2470"><a href="https://meetyouatarnis.com/locations/columbus/">Columbus</a></li>

			
			



			</ul></li>

			</ul></div></div> 

			<script type='text/javascript'>var wpcf7 = {"apiSettings":{"root":"https:\/\/meetyouatarnis.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"};
			</script> 

			<script type='text/javascript'>var js_porto_vars = {"rtl":"","ajax_url":"https:\/\/meetyouatarnis.com\/wp-admin\/admin-ajax.php","change_logo":"1","container_width":"1140","grid_gutter_width":"30","show_sticky_header":"","show_sticky_header_tablet":"1","show_sticky_header_mobile":"1","ajax_loader_url":":\/\/meetyouatarnis.com\/wp-content\/themes\/porto\/images\/ajax-loader@2x.gif","category_ajax":"","prdctfltr_ajax":"","show_minicart":"0","slider_loop":"1","slider_autoplay":"1","slider_autoheight":"1","slider_speed":"5000","slider_nav":"","slider_nav_hover":"1","slider_margin":"","slider_dots":"1","slider_animatein":"","slider_animateout":"","product_thumbs_count":"4","product_zoom":"1","product_zoom_mobile":"1","product_image_popup":"1","zoom_type":"inner","zoom_scroll":"1","zoom_lens_size":"200","zoom_lens_shape":"square","zoom_contain_lens":"1","zoom_lens_border":"1","zoom_border_color":"#888888","zoom_border":"0","screen_lg":"1170","mfp_counter":"%curr% of %total%","mfp_img_error":"<a href=\"%url%\">The image<\/a> could not be loaded.","mfp_ajax_error":"<a href=\"%url%\">The content<\/a> could not be loaded.","popup_close":"Close","popup_prev":"Previous","popup_next":"Next","request_error":"The requested content cannot be loaded.<br\/>Please try again later."};
			</script> 

			<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyATiPO5BCBDFSo4I51OjLgaR8uIFFga1Io'></script> 

			<script type="text/javascript"></script> <script async src="https://i.simpli.fi/dpx.js?cid=119261&action=100&segment=entercomarnissite&m=1&sifi_tuid=66485"></script> <script async src="https://i.simpli.fi/dpx.js?cid=119261&conversion=10&campaign_id=0&m=1&c=conversion&sifi_tuid=66486"></script> 


</body>
</html>